# Django and Django REST Framework
django>=1.6,<1.7
djangorestframework>=2.4,<2.5

# CORS support
django-cors-headers>=0.13

# helper libraries
python-dateutil>=2.2

# numeric and data analysis libraries
numpy>=1.7.0
pandas>=0.13.1
scipy

# WSGI server
gunicorn==19.1.1
dj-static==0.0.6
